<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.google.cloud.trace.jdbc.example.gae.TestServlet</servlet-class>
  </servlet>
                
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
